<!-- <form>
    <div class="container" style= "margin-left: 5em;">
            <label class="input-group-text form-control" style="margin-right: 20px;color: darkgoldenrod;">$ Withdraw Amount</label>
            <input type="number" id="inputValue" class="form-control" placeholder="Amount" formControlName="amount" required>
    </div>
    <div class="container" style="margin-left:18em;margin-top: 2em;">
        <button class="btn btn-primary" role="button" type="submit" style="padding:1em;margin-right:0.5em;border:1em;background-color: seagreen;color:snow;border-radius: 8px;">Withdraw</button>
        <button class="btn"  role="button"  type="reset" style="padding:1em;margin-right:0.5em;border:1em;background-color: seagreen;color:snow;border-radius: 8px;"> Clear</button>
    </div>
</form> -->



<form  (submit)="processWithdrawl()" class="atm-withdraw">
    <h3 class='page-header'>Withdraw from the ATM</h3>
    <div class='withdraw-success' *ngIf='withdrawlSuccessFull !== null && withdrawlSuccessFull'>Dispensed {{withdrawlAmount}}</div>
    <div class='withdraw-fail' *ngIf='withdrawlSuccessFull !== null && !withdrawlSuccessFull'>Insufficient Funds</div>
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input type="number" formControlName='withdrawlAmount' class="form-control" aria-label="Amount (to the nearest dollar)">
        <div class="input-group-append">
          <span class="input-group-text">.00</span>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-primary" type="submit">Withdraw</button>
        </div>
    </div>
</form>