<form>
    <div class="container" style= "margin-left: 5em;">
            <label class="input-group-text form-control" style="margin-right: 20px;color: darkgoldenrod;">$ Withdraw Amount</label>
            <input type="number" class="form-control" placeholder="Amount" formControlName="amount" required>
    </div>
    <div class="container" style="margin-left:18em;margin-top: 2em;">
        <button class="btn btn-primary" role="button" type="submit" style="padding:1em;margin-right:0.5em;border:1em;background-color: seagreen;color:snow;border-radius: 8px;">Submit</button>
        <button class="btn"  role="button"  type="reset" style="padding:1em;margin-right:0.5em;border:1em;background-color: seagreen;color:snow;border-radius: 8px;"> Clear</button>
    </div>
</form>


