<div class="container mt-5 mb-5">
    <h2>ATM MACHINE NOTES DISPENSER COUNTER</h2>
    <table class="table table-striped table-bordered">
        <thead class="bg-primary">
        <tr>
            <th>1 Note</th>
            <th>5 Note</th>
            <th>10 Note</th>
            <th>20 Note</th>
            <th>50 Note</th>
            <th>100 Note</th>
            <th>Take Cash</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{oneNotesDispensed}}</td>
            <td>{{fiveNotesDispensed}}</td>
            <td>{{tenNotesDispensed}}</td>
            <td>{{twentyNotesDispensed}}</td>
            <td>{{fiftyNotesDispensed}}</td>
            <td>{{hundredNotesDispensed}}</td>
            <td><div *ngIf="hundredNotesDispansed != null "><button  class="btn btn-outline-success">Collect Cash</button></div></td>
        </tr>
        </tbody>
    </table>
</div>

