<div class="container" style="padding: 3em;">
    <h2 style="margin-left: 80PX;">ATM MACHINE NOTES DISPENSER COUNTER</h2>
    <table style="border-width: 12px;">
        <thead class="bg-primary">
        <tr style="background-color:bisque;">
            <th style="padding: 20px;">$1</th>
            <th style="padding: 20px;">$5</th>
            <th style="padding: 20px;">$10</th>
            <th style="padding: 20px;">$20</th>
            <th style="padding: 20px;">$50</th>
            <th style="padding: 20px;">$100</th>
        </tr>
        </thead>
        <tbody>
        <tr style="background-color: burlywood;">
            <td style="padding: 40px;">{{oneNotesDispensed}}</td>
            <td style="padding: 40px;">{{fiveNotesDispensed}}</td>
            <td style="padding: 40px;">{{tenNotesDispensed}}</td>
            <td style="padding: 40px;">{{twentyNotesDispensed}}</td>
            <td style="padding: 40px;">{{fiftyNotesDispensed}}</td>
            <td style="padding: 40px;">{{hundredNotesDispensed}}</td>
        </tr>
        </tbody>
    </table>
</div>

