<form>
    <div class="container" style= "margin-left: 5em;">
          <span>Please enter the restock quantities for each of these denominations: $1, $5, $10, $20, $50, $100 : </span>
          <input type="number" class="form-control" placeholder="Restock Amount" style="padding: 1em;" formControlName="Restock amount" required>
          <button class="btn btn-primary" role="button" type="submit" style="padding:1em;margin-left:2em;border:1em;background-color: seagreen;color:snow;border-radius: 8px;">Restock</button>
    </div>
</form>